.app {
    padding: 30px;
    display: flex;
}

#root {
    min-height: 100%;
    margin: 100px auto;
    background-color: #c6c9ca;
    border: 3px solid #234970;
    box-shadow: 0 4px 10px 0 #5e6565;
    padding: 30px;
}
.wrapper-button {
    border: 2px solid #314a70;
    margin: 30px;
}

button {
    background-color: #8abad5;
    margin: 20px;
    border-radius: inherit;
    outline: 1px solid #1d2d45;
}

.counter {
    background-color: #8abad5;
    border: 2px solid #314a70;
    display: flex;
    justify-content: center;
    align-items: center;
}
